<footer>
    <div class="f-info">
        <div class="f-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div>&copy; 2024 Nestquest Private Ltd &trade;</div>
        <div class="f-links">
            <a href="/pricacy">Privacy</a>
            .<a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>