<% layout("/layouts/boilerplate") %>


    <body>

        <div class="row">

            <div class="col col-lg-8 col-md-8 col-sm-10 cols-xs-10 offset-lg-2 offset-md-2 offset-sm-1 offset-sm-1 outer-box">
                <h3 class="d-flex justify-content-center mb-3 heading">Add Property Details</h3>

                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    
                    <!-- Send all the data as Object (listing object) -->
                    <div class="mb-1">
                        <label for="title" class="form-label form-label-listings">Title</label>
                        <input type="text" name="listing[title]" id="title" class="form-control" required>
                        <div class="invalid-feedback" id="titleFeedback">
                            <span id="invalid-title">Please add a title.</span>
                            <span id="error-title" class="d-none">You have reached the maximum 50 characters limit for title!</span>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="description" class="form-label form-label-listings">Description</label>
                        <textarea name="listing[description]" id="description" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback" id="descriptionFeedback">
                            <span id="invalid-description">Please add a description.</span>
                            <span id="error-description" class="d-none">You have reached the maximum 1000 characters limit for description!</span>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="image" class="form-label form-label-listings">Upload Property Image</label>
                        <i class="fi fi-br-exclamation" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right"
                            data-bs-title="Please upload images in .png, .jpg, .jpeg, or .webp format. Other formats are not supported. A maximum of 3 images is allowed."></i>
                        <input type="file" name="listing[image]" id="inputFile" class="form-control" multiple required>
                        <div id="fileError" class="form-text exceed-error invisible"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="price" class="form-label form-label-listings">Price</label>
                            <input type="number" name="listing[price]" id="price" class="form-control" required>
                            <div class="invalid-feedback" id="priceFeedback">
                                <span id="invalid-price">Please add a price.</span>
                                <span id="error-price" class="d-none">Price should be within 999999</span>
                            </div>
                        </div>
                        <div class="col-md-5 position-relative">
                            <label for="location" class="form-label form-label-listings">Location</label>
                            <i class="fi fi-br-exclamation" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title="Please provide precise location, because it will be plotted on map!"></i>
                            <input type="text" name="listing[location]" id="location" class="form-control" required>
                            <div class="invalid-feedback" id="locationFeedback">
                                <span id="invalid-location">Please enter a valid location.</span>
                                <span id="error-location" class="d-none">Maximum 25 characters allowed!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="country" class="form-label form-label-listings">Country</label>
                            <input type="text" name="listing[country]" id="country" class="form-control" required>
                            <div class="invalid-feedback" id="countryFeedback">
                                <span id="invalid-country">Please enter a valid country name.</span>
                                <span id="error-country" class="d-none">Maximum 25 characters allowed!</span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-danger mt-3" id="submitButton">Add</button>

                </form>
            </div>
        </div>
    </body>